<% include ../partials/header %>

<div class="row">
    <div class="col-md-3">
        <div id="map"></div>
    </div>
    <div class="col-md-9">
        <div class="card mb-3">
            <img src="<%= campground.image %>" class="card-img-top" alt="Campground Image">
            <div class="card-body">
                <p class="float-right">
                    $<%= campground.price %>/night
                </p>
                <h5 class="card-title"><%= campground.name %></h5>
                <p>
                    <em>Submitted by:
                        <a href="/users/<%= campground.author.id %>"><%= campground.author.username %></a>,
                        <%= moment(campground.createdAt).fromNow() %></em>
                </p>
                <hr>
                <p class="card-text"><%= campground.description %></p>
                <% if (currentUser) { %>
                <% if (campground.author.id.equals(currentUser._id) || currentUser.isAdmin){ %>
                <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                <form class="deleteForm" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST" id=''>
                    <button class="btn btn-danger">Delete</button>
                </form>
                <% }} %>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-success">Add new
                        comment</a>
                </div>
                <hr>
                <div class="row">
                    <% campground.comments.forEach((comment) =>{ %>
                    <div class="col-md-12">
                        <strong><%=comment.author.username %></strong>
                        <span class="float-right"><%= moment(comment.createdAt).fromNow() %></span>
                        <div>
                            <%=comment.text %>

                            <% if (currentUser) { %>
                            <% if (comment.author.id.equals(currentUser._id) || currentUser.isAdmin){ %>
                            <div class="float-right">
                                <a href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit"
                                    class="btn btn-sm btn-warning">Edit</a>
                                <form class="deleteForm"
                                    action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE"
                                    method="POST" id=''>
                                    <button class="btn btn-sm btn-danger deleteForm" id="">Delete</button>
                                </form>
                            </div>
                            <% }} %>
                            <hr>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function initMap() {
        const lat = <%= campground.lat %>;
        const lng = <%= campground.lng %>;
        const center = { lat: lat, lng: lng };
        const map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: center,
            scrollwheel: false
        });
        const contentString = `
        <strong><%= campground.name %><br />
        <%= campground.location %></strong>
        <p><%= campground.description %></p>
      `
        const infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        const marker = new google.maps.Marker({
            position: center,
            map: map
        });
        marker.addListener('click', function () {
            infowindow.open(map, marker);
        });
    }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.API_KEY %>&callback=initMap"></script>

<% include ../partials/footer %>